.card{
    display: block;
    position:relative;
    margin: 0.2rem 0 0 0;
    padding-top: 10px;
    background: none;
    width: 18rem;
    height: 25rem;
    overflow: hidden;
}
.card a{
    text-decoration: none;
    color: lightgray;
}

.card .text{
    display: block;
    text-align: center; 
    white-space: pre-wrap;
}

.card .title{
    padding-top: 10px;
    font-weight: bold;
    font-size: larger;
}
.card .oneTitle{
    font-weight: bold;
    font-size: larger;
}


.card img{
    object-fit: cover;
    max-width: 17rem;
    height: 18rem;
    box-shadow: 1px 3px 7px 3px #7b6e60;
    box-shadow: 1px 3px 7px 3px black;

}
/* ---------------------------------------------------- */
.star {
    position: absolute; 
    top: 60px;
    left: 42px;
    transform: rotate(30deg);
    width: 200px;  
    aspect-ratio: 1;
    background: rgba(255, 166, 0, 0.699);
    clip-path: polygon(50% 0,
      calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
      calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
      calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
     ); 
  }
  .star:after {
    position: absolute;
    top: 87px;
    left: 75px;
    color: red;
    transform: rotate(-65deg);
    font-size: 25px;
    font-weight: bold;
    content: 'Neu';
  }
