#videoEdit #background{
    position: fixed;
    top: 30px;
    left: 0;
    cursor: pointer;
}
#videoEdit #background img{
    width: 100vw;
    height: 100vh;
    opacity: 25%;
    object-fit: cover;
}

@media  (max-width: 850px) {

    #videoEdit #videoEditContainer{
        display: grid; 
        grid: "title title title"    auto
              "poster poster poster" 1fr
              "plot   plot   plot"   auto
              "data   data   data"   auto
              "player player player" 1fr
              / 1fr   3fr  2fr; 
        gap: 1rem 1rem;
        margin: 0px 30px 20px 30px;
    }
    #videoEdit #saveButton{
        align-self: self-start;
    }
    #videoEdit #poster{
        justify-self: center;
    }
}
@media  (min-width: 851px) {

    #videoEdit #videoEditContainer{
        display: grid; 
        grid: "title title title"  auto
              "poster plot plot"   auto
              "poster plot plot"   auto
              "data   data player" auto
              / 1fr   3fr  2fr; 
        gap: 1rem 1rem;
        margin: 0px 30px 20px 30px;
    }
    #videoEdit #saveButton{
        align-self: center;
    }
}
@media  (min-width: 1200px) {

    #videoEdit #videoEditContainer{
        display: grid; 
        grid: "title title title"  auto
              "poster plot data"     1fr
              "poster plot data"     1fr
              "poster plot player"   1fr
              / 1fr   3fr  2fr; 
        gap: 1rem 1rem;
        margin: 0px 30px 20px 30px;
    }
    #videoEdit #saveButton{
        align-self: center;
    }
}
#videoEdit #title{
    grid-area: title;
    z-index: 1;
}
#videoEdit #title input{
    padding-top: 10px;
    font-weight: bold;
    font-size: 3rem;
    background: #495056;
    color: lightgrey;
    width: 100%;
}
#videoEdit #poster{
    grid-area: poster;
    max-width: 450px;
    max-height: 65vh;
    cursor: pointer;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    z-index: 1;
}

#videoEdit #plot {
    grid-area: plot;
    white-space: pre-wrap;
    text-align: left;
    padding: 10px;
    background-color: #495056;
    max-height: 60vh;
    min-height: 40vh;
    z-index: 1;
}

#videoEdit #plot textarea{
    background-color: #495056;
    color: lightgrey;
    font-size: 1.2rem;
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    font-weight: normal;
    width: 100%;
    height: 100%;
}

#videoEdit #data{
    grid-area: data;
    text-align: left;
    font-size: 1rem;
    padding: 10px;
    background-color:  #495056;
    z-index: 1;
}
#videoEdit #data table{
    width: 100%;
}

#videoEdit #data table tr{
    vertical-align: top;
}
#videoEdit #data tr td input{
    background-color: #495056;
    color: lightgrey;
    font-size: 1rem;
    width: 100%;
}
#videoEdit #data tr td textarea{
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
    background-color: #495056;
    color: lightgrey;
    font-size: 1rem;
    width: 100%;
}
#videoEdit #editMenu{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.3rem;
    padding: 1rem;
    z-index: 3;
    background-color: #495056; 
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 20%);
    justify-content: left;
    align-items: center;
}
#videoEdit #editMenu #editTXT{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #495056;
    text-shadow: 3px 3px 1px rgb(32, 31, 31), -0px -0px 0px #495056,  -2px -2px 0px #858c92;
}
#videoEdit #editMenu #navBUTTONS{
    display: flex;
    justify-content: right;
    color: beige;
    width: 90vw;
    margin-right: 15px;
    font-size: 18px;
}
#videoEdit #editMenu #navBUTTONS span{
    padding: 5px 15px; 
}
#videoEdit #editMenu #saveButton{
    color: red;
    font-weight: bolder;
    cursor: pointer;
}  
#videoEdit #editMenu #abortButton{
    cursor: pointer;
}  

/* --------------------------------------- */
#picError{
   grid-area: poster; 
   z-index: 2;
   justify-self:center; 
   align-self: center;
   opacity: 70%;
   height: 60%;
   aspect-ratio: 1;
   box-shadow: 0 0 0 35px inset #B90504;
   border-image: conic-gradient(#B90504 0 0) 50%/calc(50% - 15px);
   clip-path: circle(); 
   rotate: 45deg;
   cursor: pointer;
   visibility: hidden;
}
#fanartError{
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    justify-self:center; 
    align-self: center;
    opacity: 70%;
    height: 90%;
    width: 90%;
    aspect-ratio: 1;
    box-shadow: 0 0 0 35px inset #B90504;
    border-image: conic-gradient(#B90504 0 0) 50%/calc(50% - 15px);
    clip-path: circle(); 
    rotate: 45deg;
    cursor: pointer;
    visibility: hidden;
 }
 