.editor #editMenu{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.3rem;
    padding: 1rem;
    z-index: 3;
    background-color: #495056; 
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 20%);
    justify-content: left;
    align-items: center;
}
.editor #editMenu #editTXT{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #495056;
    text-shadow: 3px 3px 1px rgb(32, 31, 31), -0px -0px 0px #495056,  -2px -2px 0px #858c92;
}
.editor #editMenu #navBUTTONS{
    display: flex;
    justify-content: right;
    color: beige;
    width: 90vw;
    margin-right: 15px;
    font-size: 18px;
}
.editor #editMenu #navBUTTONS span{
    padding: 5px 15px; 
}
.editor #editMenu #saveButton{
    color: red;
    font-weight: bolder;
    cursor: pointer;
}  
.editor #editMenu #abortButton{
    cursor: pointer;
}  
