#bvid{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 100%; 
    min-height: 90%;
    z-index: -1; 
    }
    
#welcome{
    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    color: rgb(250, 209, 158);
    text-align: center;
    z-index: 1;
}    
#welcome #w1{
    font-size: 5rem;
    font-weight: bold;
}   
#welcome #w2{
    font-size: 3rem;
}   

.poster{
    font-size: 5.3vw;
    line-height: 1.3;
    overflow: hidden;
}
.Poster {
    position: absolute;
    width: 100%; height: 100%;
    margin: 0 auto;
    perspective: 380px;
    perspective-origin: bottom;
    top: 0%;
    bottom: 0; left: 0; right: 0;
    overflow: hidden;
    transform: scaleY(0.9);
}
  .Posterscroll {
    position: absolute;
    top: 0; left: 13%; right: 13%;
    height: 100%;
    opacity: 0.7;
    animation: 120s scroll linear infinite;
}
.Posterscroll img{
    max-width: 380px;
    max-height: 540px; 
    object-fit: cover;
}

@keyframes scroll {
     from { transform: rotateX(21deg) translate3d(0, 50vh,0)}
       to { transform: rotateX(21deg) translate3d(0,-2000vh,0)}
}
