.indexpage{
    text-align: left;
    margin: 1rem;
}
.indexitems{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    justify-content: left;
}

.indexitems a, .indexitems a:visited{
    position: relative;
    width: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2rem; 
    margin: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: beige;
    overflow: visible;
}
.indexitems a:hover{
    /* font-style: italic; */
    font-weight: bolder;
}

.indexitems .thumb{
    display: block;
    position: absolute; 
    left: +80px; 
    top: +40px;   
    width: 200px;    
    height: 300px;     
    border: 5px solid #ddd;
    border-radius: 4px;
    background-size: cover;
    display: none;
    box-shadow: 12px 12px 31px 3px black;
}

.indexitems a:hover .thumb{
    display: block;
    z-index: 1;
}
