#videoDetail {
    overscroll-behavior: none;
}

#videoDetail #background{
    position: fixed;
    top: 30px;
    left: 0;
    z-index: -1;
}
#videoDetail #background img{
    width: 100vw;
    height: 100vh;
    opacity: 25%;
    object-fit: cover;

}
@media  (max-width: 850px) {

    #videoDetail #videoDetailContainer{
        display: grid; 
        grid: "title title title"    auto
              "poster poster poster" 1fr
              "plot   plot   plot"   auto
              "data   data   data"   auto
              "player player player" 1fr
              / 1fr   3fr  2fr; 
        gap: 1rem 1rem;
        margin: 0px 30px 20px 30px;
    }
    #videoDetail #player{
        align-self: self-start;
    }
    #videoDetail #poster{
        justify-self: center;

    }
}
@media  (min-width: 851px) {

    #videoDetail #videoDetailContainer{
        display: grid; 
        grid: "title title title"  auto
              "poster plot plot"   auto
              "poster plot plot"   auto
              "data   data player" auto
              / 1fr   3fr  2fr; 
        gap: 1rem 1rem;
        margin: 0px 30px 20px 30px;
    }
    #videoDetail #player{
        align-self: center;
    }
}
@media  (min-width: 1200px) {

    #videoDetail #videoDetailContainer{
        display: grid; 
        grid: "title title title"  auto
              "poster plot data"     1fr
              "poster plot data"     1fr
              "poster plot player"   1fr
              / 1fr   3fr  2fr; 
        gap: 1rem 1rem;
        margin: 0px 30px 20px 30px;
    }
    #videoDetail #player{
        align-self: center;
    }
}
#videoDetail #title{
    grid-area: title;
}
#videoDetail #title .title{
    padding-top: 10px;
    font-weight: bold;
    font-size: 3rem;
    color: beige;
}
#videoDetail #title .titleText{
    display: block;
    text-align: center; 
    white-space: pre-wrap;
    font-size: 1.5rem;
}
#episodes #title .oneTitle{
    padding-top: 10px;
    font-weight: bold;
    font-size: 3rem;
    color: beige;
}
#videoDetail .oneTitle{
    font-weight: bold;
    font-size: 3rem;
}
#videoDetail #poster{
    grid-area: poster;
    max-width: 380px; 
    height: 65vh;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}
#videoDetail #plot{
    grid-area: plot;
    white-space: pre-wrap;
    text-align: left;
    font-size: 1.4rem;
    padding: 10px;
    overflow-y: auto;
    background-color: #495056;
    max-height: 60vh;
    overscroll-behavior: contain;
}
#videoDetail #data{
    grid-area: data;
    text-align: left;
    font-size: 1rem;
    padding: 10px;
    background-color:  #495056;
    overscroll-behavior: contain;
}
#videoDetail #data tr{
    vertical-align: top;
}
#videoDetail #data tr a, 
#videoDetail #data tr a:visited {
    color: beige;
    text-decoration: none;
}
#videoDetail #player{
    grid-area: player;
}
#videoDetail #player button{
    min-width: 200px;
    width: 90%;
    height: 55px;
    font-size: 2rem;
    background-color: black;
    border-color: orange;
    color: rgb(160, 156, 156);

}  
#videoDetail #player button{
    cursor: pointer;
}  
#videoDetailContainer #editSymb {
    position: absolute;
    top: 80px; 
    right: 20px;
    height: 30px;
    cursor: pointer;
}
